/* You can add global styles to this file, and also import other style files */
.content {
  margin: 30px auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 15rem;
}
